@import 'components/component.scss';


body {
  background: cornsilk;
  background-image: url('./test.jpg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}

li.unusedLi {
  color: red;
}
